:root{
  --main_color: #FF9142;
  --second_color: #FFB800;
}
::placeholder {
  color: var(--second_color);
  opacity: 0.8; 
}

.top-bar{
    background: linear-gradient(180deg, #4A4A4A 0%, #2E2E2E 100%);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.25);
    height: 100px;
  }
  .left-bar{
    background: linear-gradient(180deg, #2E2E2E 0%, #414141 53.65%, #363636 100%);
    box-shadow: 11px 0px 9px 0px rgba(0, 0, 0, 0.25);
  }
  .background-grad{
    background: linear-gradient(180deg, #2C2C2C 0%, #3D3D3D 100%);
  }

  .login-form-box{
    margin: 25%;
    background: linear-gradient(180deg, #323232 0%, #464646 48.44%, #4A4A4A 100%);
  }
  .text-input{
    height: 40px;
    background: transparent;
    color: var(--second_color);
  }
  .login-input{
    height: 40px;
    margin-top: 25%;
    margin-bottom: 25%;
    background: transparent;
    color: var(--second_color);
  }
  .form-button{
    background: transparent;
    color: var(--second_color);
    outline: none;
    box-shadow: 0 0 10px rgba(255, 145, 66, 1);
  }

  .highlight:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(255, 145, 66, 1);
  }

  .chg-color:focus{
    color: var(--second_color);
  }
  .chg-color{
    color: var(--main_color);
  }
  .active-tab{
    color: var(--second_color);
  }
  a{
    text-decoration: none;
  }

  a:hover {
    color: rgb(243, 181, 24);
  }

  input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--second_color);
}

.highlight:checked{
  outline: none;
  box-shadow: 0 0 10px rgba(255, 145, 66, 1);
}

select[multiple] {
  background:#2C2C2C;
  width:max-content;
  height:auto;
  outline: none;
  padding:0;
  margin:0;
  border-width: 0px;
  border: var(--main_color);
  border-style:solid;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  appearance: menulist;
}
option{
  background:#2C2C2C;
  width:max-content;
  outline: none;
  padding:0;
  margin:0;
}
/* .btn:hover{
  color: var(--second_color);
} */

::-webkit-scrollbar-thumb{
  background-color: var(--second_color);
  border-radius: 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  background-color: transparent;

}

